.Student {
  margin: 20px auto;
  width: 40%;
  text-align: center;
  box-shadow: 0 2px 3px rgb(196, 193, 193);
  border: 1px solid #eee;
  padding: 10px;
  box-sizing: border-box;
  background-color: #ace7ef;
}
.Modal {
  position: fixed;
  z-index: 500;
  background-color: #a6acec;
  width: 20%;
  height: 20%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #ccc;
  padding: 16px;
  left: 40%;
  top: 30%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}
